
@{
    ViewBag.Title = "Overview of Get Started | Visual Studio";
    ViewBag.CurrentMenu = "Documentation";
}

<div id="getStartedOverview">
    <div class="topSection">
        <div class="introduction">
            <div data-fragmentname="PageTitle" id="Fragment_PageTitle" xmlns="http://www.w3.org/1999/xhtml">
                <h1>Get Started</h1>
            </div>
            <div data-fragmentname="Introduction" id="Fragment_Introduction" xmlns="http://www.w3.org/1999/xhtml">
                <div class="RichText">
                    <p style="margin-bottom:-20px;" xmlns="">Share code, track work, and ship software in any language with <a href="#">Visual Studio Team Services</a>, using Visual Studio or your own tools.</p>
                    <p xmlns="">
                        <br>
                    </p>
                    <table style="width:134%;margin-bottom:-30px;" xmlns="">
                        <tbody>
                            <tr>
                                <td style="background-color:#5b9bd5;border:0px solid;height:50px;padding-left:19px;line-height:22px;">
                                    <a href="https://msdn.microsoft.com/library/vs/alm/overview/alm-devops-feature-index" id="Introduction_1065_53">Feature index</a>&nbsp;|&nbsp; <a href="https://msdn.microsoft.com/library/vs/alm/fda2bad5.aspx" id="Introduction_1065_54">MSDN Library</a><strong> for the full set of Visual Studio Team Services content </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div data-fragmentname="BodyContent" id="Fragment_BodyContent" xmlns="http://www.w3.org/1999/xhtml">

        <div class="DetailedLinkWithImageList arrowBlue">
            <div class="listItems">
                <div class="DetailedLinkWithImage topImage">

                    <div class="textContent" style="height: 265px;">
                        <h2 class="title">Setup</h2>
                        <div class="RichText" xmlns="http://www.w3.org/1999/xhtml">
                            <p xmlns="">Install Visual Studio to code and collaborate with your team.</p>
                            <div class="linklist" xmlns="">
                                <p>
                                    <a href="/en-us/docs/set-up-vs ">Set up Visual Studio</a>
                                    <br>
                                    <a href="/en-us/docs/sign-up-for-visual-studio-online ">Sign up for Team Services</a>
                                    <br>
                                    <a href="/en-us/docs/connect-to-visual-studio-online">Connect to Team Services</a>
                                </p>
                            </div>
                        </div>
                        <div class="link">
                            <a href="/en-us/docs/set-up-vs" id="BodyContent_43717_3" xmlns="http://www.w3.org/1999/xhtml">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class="DetailedLinkWithImage topImage">

                    <div class="textContent" style="height: 265px;">
                        <h2 class="title">Code</h2>
                        <div class="RichText" xmlns="http://www.w3.org/1999/xhtml">
                            <p xmlns="">Develop your app and share it with your team.</p>
                            <div class="linklist" xmlns="">
                                <p>
                                    <a href="/en-us/docs/share-your-code-in-git-vs " id="dn469159_shareyourcodeingit_code">Visual Studio: Share code in Git</a>
                                    <br>
                                    <a href="/en-us/docs/share-your-code-in-git-eclipse">Eclipse: Share code in Git</a>
                                    <br>
                                    <a href="/en-us/docs/share-your-code-in-git-xcode">Xcode: Share code in Git </a>
                                </p>
                            </div>
                            <div xmlns="">[<a href="https://msdn.microsoft.com/Library/vs/alm/Code/overview">MSDN Library</a>]</div>
                        </div>
                        <div class="link">
                            <a href="/en-us/docs/share-your-code-in-git-vs" id="BodyContent_43717_5" data-analyticstag="dn469159_learnmore_code" data-analyticsid="dn469159_learnmore_code_BodyContent_43717_5" xmlns="http://www.w3.org/1999/xhtml">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class="DetailedLinkWithImage topImage">

                    <div class="textContent" style="height: 265px;">
                        <h2 class="title">Work</h2>
                        <div class="RichText" xmlns="http://www.w3.org/1999/xhtml">
                            <p xmlns="">Track work that needs to be done by your team.</p>
                            <div class="linklist" xmlns="">
                                <p>
                                    <a href="/en-us/docs/create-your-backlog-vs " id="dn469159_createyourbacklog_work">Create your backlog</a>
                                    <br>
                                    <a href="/en-us/docs/work-from-the-kanban-board-vs " id="dn469159_workfromkanban_work">Kanban</a>
                                    <br>
                                    <a href="/en-us/docs/work-in-sprints-vs" id="dn469159_workfromsprints_work">Scrum</a>
                                </p>
                            </div>
                            <div xmlns="">[<a href="https://msdn.microsoft.com/Library/vs/alm/Code/overview">MSDN Library</a>]</div>
                        </div>
                        <div class="link">
                            <a href="/en-us/docs/share-your-code-in-git-vs" id="BodyContent_43717_4" data-analyticstag="dn469159_learnmore_work" data-analyticsid="dn469159_learnmore_work_BodyContent_43717_4" xmlns="http://www.w3.org/1999/xhtml">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class="DetailedLinkWithImage topImage">

                    <div class="textContent" style="height: 265px;">
                        <h2 class="title">Build</h2>
                        <div class="RichText" xmlns="http://www.w3.org/1999/xhtml">
                            <p xmlns="">Use continuous builds to improve the quality of your app.</p>
                            <div class="linklist" xmlns="">
                                <p>
                                    <a href="/en-us/docs/build-your-app-vs" id="dn469159_buildyourapp_build">Visual Studio: Build your app</a>
                                    <br>
                                    <a href="/en-us/docs/build-your-app-eclipse" id="dn469159_buildyourapp_build">Eclipse: Build your app</a>
                                </p>
                            </div>
                            <div xmlns="">[<a href="https://msdn.microsoft.com/Library/vs/alm/build/overview">MSDN Library</a>]</div>
                        </div>
                        <div class="link">
                            <a href="/en-us/docs/build-your-app-vs" id="BodyContent_43717_6" data-analyticstag="dn469159_learnmore_build" data-analyticsid="dn469159_learnmore_build_BodyContent_43717_6" xmlns="http://www.w3.org/1999/xhtml">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class="DetailedLinkWithImage topImage">

                    <div class="textContent" style="height: 265px;">
                        <h2 class="title">Test</h2>
                        <div class="RichText" xmlns="http://www.w3.org/1999/xhtml">
                            <p xmlns="">Create and run manual tests and load tests for your app.</p>
                            <div class="linklist" xmlns="">
                                <p>
                                    <a href="/en-us/docs/create-a-test-plan-vs" id="dn469159_createtestplan_test">Create a test plan</a>
                                    <br>
                                    <a href="/en-us/docs/create-tests-vs" id="dn469159_createruntests_test">Create and run tests</a>
                                    <br>
                                    <a href="/en-us/docs/load-test-your-app-vs" id="dn469159_loadtestapp_test">Load test your app</a>
                                </p>
                            </div>
                            <div xmlns="">[<a href="http://go.microsoft.com/fwlink/?LinkId=691977">MSDN Library</a>]</div>
                        </div>
                        <div class="link">
                            <a href="http://go.microsoft.com/fwlink/?LinkId=691977" id="BodyContent_43717_7" data-analyticstag="dn469159_learnmore_test" data-analyticsid="dn469159_learnmore_test_BodyContent_43717_7" xmlns="http://www.w3.org/1999/xhtml">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class="DetailedLinkWithImage topImage">

                    <div class="textContent" style="height: 265px;">
                        <h2 class="title">Package</h2>
                        <div class="RichText" xmlns="http://www.w3.org/1999/xhtml">
                            <p xmlns="">Share code as binary assets and control dependencies.</p>
                            <div class="linklist" xmlns="">
                                <p>
                                    <a href="/en-us/docs/what-is-packaging" id="BodyContent_1065_56">Explore Package Management</a>
                                    <br>
                                    <a href="/en-us/docs/use/publish" id="BodyContent_1065_57">Use Package Management</a>
                                    <br>
                                    <a href="/en-us/docs/build/team-build" id="BodyContent_1065_58">Integrate Packages into Builds and Releases</a>
                                </p>
                            </div>
                        </div>
                        <div class="link">
                            <a href="/en-us/docs/what-is-packaging" id="BodyContent_1065_41" xmlns="http://www.w3.org/1999/xhtml">
                                <span style="line-height:16.3636px;" xmlns="">Learn more</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="DetailedLinkWithImage topImage">

                    <div class="textContent" style="height: 265px;">
                        <h2 class="title">Release</h2>
                        <div class="RichText" xmlns="http://www.w3.org/1999/xhtml">
                            <p xmlns="">Manage your app releases and continuous integration with multi-step tasks and approvals.</p>
                            <div class="linklist" xmlns="">
                                <p>
                                    <a href="https://msdn.microsoft.com/Library/vs/alm/Release/getting-started/understand-rm">Understand Release Management (MSDN)</a>
                                    <br>
                                    <a href="https://msdn.microsoft.com/Library/vs/alm/Release/getting-started/deploy-to-azure">Deploy your apps to Azure (MSDN)</a>
                                </p>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="link">
                            <a href="https://msdn.microsoft.com/Library/vs/alm/Release/overview" id="BodyContent_43717_8" data-analyticstag="dn469159_learnmore_deploy" data-analyticsid="dn469159_learnmore_deploy_BodyContent_43717_8" xmlns="http://www.w3.org/1999/xhtml">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class="DetailedLinkWithImage topImage">

                    <div class="textContent" style="height: 265px;">
                        <h2 class="title">Search</h2>
                        <div class="RichText" xmlns="http://www.w3.org/1999/xhtml">
                            <p xmlns="">Search across all your code in Git and TFVC with powerful filtering and rich search results, or quickly query for work items.</p>
                            <div class="linklist" xmlns="">
                                <p>
                                    <a href="https://msdn.microsoft.com/Library/vs/alm/search/overview" id="BodyContent_1065_59">Search your code (MSDN)</a>
                                    <br>
                                    <a href="/en-us/docs/queries" id="BodyContent_1065_60">Work item queries</a>
                                </p>
                            </div>
                        </div>
                        <div class="link">
                            <a href="https://msdn.microsoft.com/Library/vs/alm/search/overview" id="BodyContent_1065_45" xmlns="http://www.w3.org/1999/xhtml">
                                <span style="line-height:16.3636px;" xmlns="">Learn more</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="DetailedLinkWithImage topImage">

                    <div class="textContent" style="height: 265px;">
                        <h2 class="title">Marketplace</h2>
                        <div class="RichText" xmlns="http://www.w3.org/1999/xhtml">
                            <p xmlns="">Find and buy extensions for Visual Studio Team Services.</p>
                            <div class="linklist" xmlns="">
                                <p>
                                    <a href="/en-us/docs/get-vsts-extensions">Get extensions in the marketplace</a>
                                    <br>
                                    <a href="/en-us/docs/buy-vs-subscriptions">Buy subscriptions</a>
                                </p>
                            </div>
                        </div>
                        <div class="link">
                            <a href="/en-us/docs/overview" id="BodyContent_1065_48" xmlns="http://www.w3.org/1999/xhtml">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class="DetailedLinkWithImage topImage">

                    <div class="textContent" style="height: 265px;">
                        <h2 class="title">Report</h2>
                        <div class="RichText" xmlns="http://www.w3.org/1999/xhtml">
                            <p xmlns="">Share progress and status with your team using easy-access, real-time, configurable charts and dashboards.</p>
                            <div class="linklist" xmlns="">
                                <p>
                                    <a href="/en-us/docs/dashboards" id="BodyContent_1065_50">Dashboards </a>
                                </p>
                                <p>
                                    <a href="/en-us/docs/charts" id="BodyContent_1065_51">Charts</a>
                                </p>
                                <p>
                                    <a href="/en-us/docs/report-on-vso-with-power-bi-vs" id="BodyContent_1065_52">Power BI dashboards</a>
                                </p>
                                <p>[<a href="https://msdn.microsoft.com/Library/vs/alm/Report/overview">MSDN Library</a>]</p>
                            </div>
                        </div>
                        <div class="link">
                            <a href="/en-us/docs/dashboards-vs" id="BodyContent_1065_49" xmlns="http://www.w3.org/1999/xhtml">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class="DetailedLinkWithImage topImage">

                    <div class="textContent" style="height: 265px;">
                        <h2 class="title">Insights</h2>
                        <div class="RichText" xmlns="http://www.w3.org/1999/xhtml">
                            <p xmlns="">Monitor the performance and usage of your live web app.</p>
                            <div class="linklist" xmlns="">
                                <p>
                                    <a href="/en-us/docs/app-insights-asp-net">Track ASP.NET web apps</a>&nbsp; <br><a href="/en-us/docs/app-insights-java">Track Java web apps</a>&nbsp; <br>
                                </p>
                                <p>[<a href="http://azure.microsoft.com/documentation/services/application-insights/">MSDN Library</a>]</p>
                            </div>
                        </div>
                        <div class="link">
                            <a href="/en-us/docs/application-insights" id="BodyContent_1065_37" data-analyticstag="dn469159_app_insights_image" data-analyticsid="dn469159_app_insights_image_BodyContent_1065_37" xmlns="http://www.w3.org/1999/xhtml">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class="DetailedLinkWithImage topImage">

                    <div class="textContent" style="height: 265px;">
                        <h2 class="title">Integrate</h2>
                        <div class="RichText" xmlns="http://www.w3.org/1999/xhtml">
                            <p xmlns="">Connect Visual Studio Team Services with partner solutions.</p>
                            <div class="linklist" xmlns="">
                                <p>
                                    <a href="/en-us/docs/integrating-with-service-hooks-vs" id="dn469159_integratewithservices_integrate">Integrate with other services</a>
                                    <br>
                                    <a href="/en-us/docs/troubleshoot-service-hooks-vs" id="dn469159_troubleshootservicehooks_integrate">Troubleshoot a service hooks issue</a>
                                </p>
                            </div>
                        </div>
                        <div class="link">
                            <a href="/en-us/docs/integrating-with-service-hooks-vs" id="BodyContent_1065_23" data-analyticstag="dn469159_integrate_image" data-analyticsid="dn469159_integrate_image_BodyContent_1065_23" xmlns="http://www.w3.org/1999/xhtml">Learn more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>