<rules>
  <!-- Prevents issues with relative links when trailing slash is missing -->
  <rule name="Always Have Trailing Slash" stopProcessing="true">
    <match url="(.*[^/])$" />
    <conditions>
      <add input="{URL}" pattern="\." negate="true" />
      <add input="{URL}" pattern="/content/*" ignoreCase="true" negate="true" />
      <add input="{URL}" pattern="/bundles/*" ignoreCase="true" negate="true" />
    </conditions>
    <action type="Redirect" redirectType="Permanent" url="{R:1}/" appendQueryString="true" />
  </rule>
</rules>